@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
.nav {
  background-color: aliceblue;
  overflow: hidden;
}

.nav a {
  float: left;
  color: palevioletred;
  background-clip: salmon;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}


.nav a:hover {
  background-color: salmon;
  color:white;
}

.nav a.active {
  color: salmon
}
h1 {
  text-align: center;
    font-family: 'PT Serif', serif;
}
.insta{
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}